
<main class="main main--article">
  <article class="article-content">

    <section class="article-content__banner">
      <img src="/images/article-head-img-<%= post.id %>.png" alt="" class="article-content__image">

      <article class="wrapper">

        <section class="article-content__header">
          <section class="article-content__info">
            <article class="article-date">
              <p class="article-date__text"><%= postShortDate %></p>
            </article>
            <article class="article-views">
              <img src="/images/icon-views.png" alt="icon-views" class="article-views__icon">
              <p class="article-views__num">1027</p>
            </article>
            <article class="article-category">
              <p class="article-category__text"><%= post.category %></p>
            </article>
            <article class="article-title">
              <p class="article-title__text"><%= post.title %></p>
            </article>
          </section>
        </section>

      </article>
    </section>

    <section class="article-content__layout">
      <section class="layout-left">

        <p class="article-content__text">
          <%= post.content %>
        </p>

        <img class="article-content__img" src="<%= post.titleImage %>" alt="article-img" >

        <p class="article-content__text">
          <%= post.content %>
        </p>

        <img class="article-content__img" src="<%= post.titleImage %>" alt="article-img" >

      </section>

      <section class="layout-right">
        <section class="layout-right__inner">

          <article class="article-context__banner">
            <img src="/images/adv-image-3.png" alt="" class="banner__advertising">
          </article>

          <article class="article-context__posts">

            <a href="#" class="article-aside">
              <article class="article-title">
                <p class="article-title__text">Бесплатная школа программирования UNIT Factory запустила второй набор студентов на второй</p>
              </article>
              <section class="article__info article__info--aside">
                <article class="article-date">
                  <p class="article-date__text">sep 7</p>
                </article>
                <article class="article-views">
                  <img src="/images/icon-views-dark.png" alt="icon-views" class="article-views__icon">
                  <p class="article-views__num">1027</p>
                </article>
                <article class="article-category">
                  <p class="article-category__text">Продажи и сервис</p>
                </article>
              </section>
              <div class="article-aside__divider"></div>
            </a>

            <a href="#" class="article-aside">
              <article class="article-title">
                <p class="article-title__text">Школа программирования UNIT Factory запустила студентов на второй</p>
              </article>
              <section class="article__info article__info--aside">
                <article class="article-date">
                  <p class="article-date__text">sep 7</p>
                </article>
                <article class="article-views">
                  <img src="/images/icon-views-dark.png" alt="icon-views" class="article-views__icon">
                  <p class="article-views__num">1027</p>
                </article>
                <article class="article-category">
                  <p class="article-category__text">Продажи и сервис</p>
                </article>
              </section>
              <div class="article-aside__divider"></div>
            </a>

            <a href="#" class="article-aside">
              <article class="article-title">
                <p class="article-title__text">Factory запустила второй набор студентов на</p>
              </article>
              <section class="article__info article__info--aside">
                <article class="article-date">
                  <p class="article-date__text">sep 7</p>
                </article>
                <article class="article-views">
                  <img src="/images/icon-views-dark.png" alt="icon-views" class="article-views__icon">
                  <p class="article-views__num">1027</p>
                </article>
                <article class="article-category">
                  <p class="article-category__text">Продажи и сервис</p>
                </article>
              </section>
              <div class="article-aside__divider"></div>
            </a>

          </article>
        </section>
      </section>
    </section>

  </article>
</main>
